@page "/privileges"

<PageTitle>Privileges</PageTitle>

<h1>Privileges Demo</h1>
<p>This page demonstrates usage of Privileged.Components with a sample in-memory context.</p>

<PrivilegeContextView>
    <Loading>
        <p><em>Loading privilege context...</em></p>
    </Loading>
    <Loaded>
        <PrivilegeDemo />
    </Loaded>
</PrivilegeContextView>
